.price {
   background-color: #e7edf3;
   padding-bottom: 200px;
   padding-top: 135px;

}

.title-box {
   padding-bottom: 80px;
   text-align: center;
   &__title {
      color: #394b50;
      font-size: 30px;
      font-family: 'Gotham Black Regular';
      text-transform: uppercase;
   }

   &__sub-title {
      color: #394b50;
      font-size: 18px;
      line-height: 22px;
      font-family: 'Open Sans', sans-serif;
      padding-top: 5px;
   }
}

.plans {
   color: #818b95;
   display: flex;
}

.basic {
   background-color: #fff;
   width: 390px;
   text-align: center;
   padding-top: 55px;
   padding-bottom: 50px;
   border: 1px solid #ccd5df;
   &:hover {
      transform: scale(1.1);
   }
   &__item--color {
      color: #fff;
   }

   &__label {
      text-transform: uppercase;
      font-size: 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 300;
      padding-bottom: 30px;
   }

   &__price-item {
      margin-bottom: 34px;
   }

   &__item {
      font-size: 13px;
      font-family: serif;
      font-family: 'Lato', sans-serif;
      padding: 15px 0;
      border-top: 1px solid #e2e9f0;
      width: 330px;
      margin: 0 auto;
      text-transform: uppercase;
      &__item--color {
         color: #fff;
      }
   }

   &__button {
      width: 130px;
      height: 46px;
      background-color: #ffbb42;
      text-transform: uppercase;
      font-size: 14px;
      font-family: 'Lato', sans-serif;
      border: none;
      color: #fff;
      margin-top: 34px;
      
      &:hover{
         border: 1px solid #709dca;
         color: #709dca;
         cursor: pointer;
      }
      &:focus {
         outline: none;
         border: none;
      }
   }
}

.standart-price {
   background-color: #709dca;
}


